<template>
    <div>
        <div style="min-height: 4px;" class="mb-2">
            <v-progress-linear
                    v-model="value"
                    :active="loading"
                    :indeterminate="false"
                    :query="true"
            ></v-progress-linear>
        </div>
        <v-file-input
                v-model="files"
                color="deep-purple accent-4"
                counter
                label="Файлы"
                multiple
                placeholder="Загрузите файлы для исследования"
                prepend-icon="mdi-paperclip"
                outlined
                :show-size="1000"
                append-icon="mdi-cloud-upload"
                :disabled="loading"
                @click:append="uploadFiles"
                :success="success"
                :success-messages="successMsg"
                :error="error"
                :error-messages="errorMsg"
        >
            <template v-slot:selection="{ index, text }">
                <v-chip
                        v-if="index < 2"
                        color="deep-purple accent-4"
                        dark
                        label
                        small
                >
                    {{ text }}
                </v-chip>

                <span
                        v-else-if="index === 2"
                        class="overline grey--text text--darken-3 mx-2"
                >
        +{{ files.length - 2 }} File(s)
      </span>
            </template>
        </v-file-input>
    </div>
</template>

<script>
    export default {
        data: () => ({
            loading: false,
            value: 0,
            files: [],
            interval: 0,
            success: false,
            error: false
        }),
        computed: {
            successMsg() {
                return this.success ? ['Данные загружены'] : []
            },
            errorMsg() {
                return this.error ? ['Выберите файлы'] : []
            }
        },
        methods: {
            loader() {
                this.interval = setInterval(() => {this.value += 12.5}, 200)
            },
            uploadFiles() {
                if (this.files.length > 0) {
                    this.loading = true;
                    this.loader();
                    setTimeout(() => {
                        this.loading = false;
                        this.files = [];
                        this.value = 0;
                        clearInterval(this.interval);
                        this.success = true;
                        setTimeout(() => (this.success = false), 1000)
                    }, 2000)
                }
                else {
                    this.error = true;
                    setTimeout(() => (this.error = false), 1000)
                }
            }
        }
    }
</script>