<template>
    <v-container>
        <LoadButton />
        <ResearchList />
    </v-container>
</template>

<script>
    import ResearchList from "./ResearchList";
    import LoadButton from "../components/LoadButton"
    export default {
        name: 'MainPage',
        components: {ResearchList, LoadButton},
    };
</script>
