<template>
    <div class="d-flex flex-column">
        <v-card v-for="research in researches" v-bind:key="research.id" class="mb-10">
            <v-img :src="research.image"/>
            <v-card-title>{{ research.title }}</v-card-title>
            <v-card-subtitle>{{ research.description }}</v-card-subtitle>
            <Research :models="research.ai_models"/>
        </v-card>
    </div>
</template>


<script>
    import Research from "./Research";
    import axios from 'axios';

    export default {
        name: "ResearchList",
        components: {Research},
        data: () => ({
            researches: [],
        }),
        mounted() {
            axios
                .get('researches')
                .then(response => this.researches = response.data)
        }
    }
</script>

<style scoped>

</style>