<template>
    <v-sheet>
        <v-slide-group
                v-model="slide"
                class="pa-4"
                show-arrows
        >
            <v-slide-item
                    v-for="model in models"
                    :key="model"
                    v-slot:default="{ active, toggle }"
            >
                <v-card
                        :color="active ? 'primary' : 'grey lighten-1'"
                        class="ma-4"
                        height="100"
                        outlined
                        @click="toggle"
                >
                    <v-card-title>{{ model.title }}</v-card-title>
                    <v-card-subtitle>Точность: {{ model.accuracy }}</v-card-subtitle>
                </v-card>
            </v-slide-item>
        </v-slide-group>

        <v-expand-transition>
            <v-sheet
                    v-if="slide != null"
                    color="grey lighten-4"
                    tile
            >
                <v-img :src="models[slide].image"/>
            </v-sheet>
        </v-expand-transition>
    </v-sheet>
</template>

<script>
    export default {
        name: "Research",
        data: () => ({
            slide: null,
        }),
        props: {
            models: []
        }
    }
</script>

<style scoped>

</style>